In [1]:
pip install ucimlrepo

Requirement already satisfied: ucimlrepo in c:\users\gunja\anaconda3\lib\site-packages (0.0.7)
Requirement already satisfied: pandas>=1.0.0 in c:\users\gunja\anaconda3\lib\site-packages (from ucimlrepo) (1.3.4)
Requirement already satisfied: certifi>=2020.12.5 in c:\users\gunja\anaconda3\lib\site-packages (from ucimlrepo) (2024.7.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\gunja\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (1.22.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\gunja\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\gunja\anaconda3\lib\site-packages (from pandas>=1.0.0->ucimlrepo) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\gunja\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=1.0.0->ucimlrepo) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
from ucimlrepo import fetch_ucirepo

In [3]:
adult = fetch_ucirepo(id=2)

In [4]:
df= pd.concat([adult.data.features, adult.data.targets],axis=1)

In [5]:
df.shape

(48842, 15)

In [6]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [7]:
df.tail()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,NaN,321403,HS-grad,9,Widowed,NaN,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       47879 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      47876 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48568 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

## WorkClass, Occupation and native-countryhas NULL

In [9]:
def missing_check(df):
    total = df.isnull().sum().sort_values(ascending=False)   # total number of null values
    percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)  # percentage of values that are null
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])  # putting the above two together
    return missing_data # return the dataframe
missing_check(df)

                Total   Percent
occupation        966  0.019778
workclass         963  0.019717
native-country    274  0.005610
age                 0  0.000000
fnlwgt              0  0.000000
education           0  0.000000
education-num       0  0.000000
marital-status      0  0.000000
relationship        0  0.000000
race                0  0.000000
sex                 0  0.000000
capital-gain        0  0.000000
capital-loss        0  0.000000
hours-per-week      0  0.000000
income              0  0.000000

In [10]:
df.isnull().sum()

age                 0
workclass         963
fnlwgt              0
education           0
education-num       0
marital-status      0
occupation        966
relationship        0
race                0
sex                 0
capital-gain        0
capital-loss        0
hours-per-week      0
native-country    274
income              0
dtype: int64

In [11]:
df.duplicated().sum()

29

In [12]:
df.nunique()

age                  74
workclass             9
fnlwgt            28523
education            16
education-num        16
marital-status        7
occupation           15
relationship          6
race                  5
sex                   2
capital-gain        123
capital-loss         99
hours-per-week       96
native-country       42
income                4
dtype: int64

In [13]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
age,48842.0,NaN,NaN,NaN,38.643585,13.71051,17.0,28.0,37.0,48.0,90.0
workclass,47879,9,Private,33906,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fnlwgt,48842.0,NaN,NaN,NaN,189664.134597,105604.025423,12285.0,117550.5,178144.5,237642.0,1490400.0
education,48842,16,HS-grad,15784,NaN,NaN,NaN,NaN,NaN,NaN,NaN
education-num,48842.0,NaN,NaN,NaN,10.078089,2.570973,1.0,9.0,10.0,12.0,16.0
marital-status,48842,7,Married-civ-spouse,22379,NaN,NaN,NaN,NaN,NaN,NaN,NaN
occupation,47876,15,Prof-specialty,6172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
relationship,48842,6,Husband,19716,NaN,NaN,NaN,NaN,NaN,NaN,NaN
race,48842,5,White,41762,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sex,48842,2,Male,32650,NaN,NaN,NaN,NaN,NaN,NaN,NaN
capital-gain,48842.0,NaN,NaN,NaN,1079.067626,7452.019058,0.0,0.0,0.0,0.0,99999.0
capital-loss,48842.0,NaN,NaN,NaN,87.502314,403.004552,0.0,0.0,0.0,0.0,4356.0
hours-per-week,48842.0,NaN,NaN,NaN,40.422382,12.391444,1.0,40.0,40.0,45.0,99.0
native-country,48568,42,United-States,43832,NaN,NaN,NaN,NaN,NaN,NaN,NaN
income,48842,4,<=50K,24720,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df[['education', 'education-num']].drop_duplicates(subset=['education']).sort_values("education-num").head(16)

        education  education-num
224     Preschool              1
160       1st-4th              2
56        5th-6th              3
15        7th-8th              4
6             9th              5
77           10th              6
3            11th              7
415          12th              8
2         HS-grad              9
10   Some-college             10
14      Assoc-voc             11
13     Assoc-acdm             12
0       Bachelors             13
5         Masters             14
52    Prof-school             15
20      Doctorate             16

In [15]:
df[df.isnull().any(axis=1)].head(50)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
32565,18,NaN,103497,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.
32567,29,NaN,227026,HS-grad,9,Never-married,NaN,Unmarried,Black,Male,0,0,40,United-States,<=50K.
32574,58,NaN,299831,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,35,United-States,<=50K.
32580,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,NaN,>50K.
32583,72,NaN,132015,7th-8th,4,Divorced,NaN,Not-in-family,White,Female,0,0,6,United-States,<=50K.
32596,65,NaN,191846,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,<=50K.
32626,41,Private,109912,Bachelors,13,Never-married,Other-service,Not-in-family,White,Female,0,0,40,NaN,<=50K.
32636,17,NaN,165361,10th,6,Never-married,NaN,Own-child,White,Male,0,0,40,United-States,<=50K.
32644,44,Self-emp-inc,223881,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,50,NaN,>50K.
32650,41,NaN,38434,Masters,14,Married-civ-spouse,NaN,Wife,White,Female,7688,0,10,United-States,>50K.
32661,51,NaN,189762,Some-college,10,Married-civ-spouse,NaN,Wife,White,Female,0,0,18,United-States,<=50K.
32674,20,NaN,30796,HS-grad,9,Never-married,NaN,Own-child,White,Female,0,0,20,United-States,<=50K.
32693,20,NaN,334105,HS-grad,9,Never-married,NaN,Not-in-family,White,Female,0,0,40,United-States,<=50K.
32743,28,NaN,168524,HS-grad,9,Married-civ-spouse,NaN,Own-child,White,Female,0,0,38,United-States,>50K.
32746,64,NaN,201368,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,0,8,United-States,<=50K.
32749,34,State-gov,513100,Bachelors,13,Married-spouse-absent,Farming-fishing,Not-in-family,Black,Male,0,0,40,NaN,<=50K.
32754,79,NaN,48574,7th-8th,4,Widowed,NaN,Not-in-family,White,Male,0,0,40,United-States,<=50K.
32789,25,NaN,270276,9th,5,Separated,NaN,Not-in-family,White,Female,1055,0,40,United-States,<=50K.
32790,77,NaN,172744,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,0,35,United-States,<=50K.
32806,39,NaN,110342,HS-grad,9,Married-civ-spouse,NaN,Wife,White,Female,0,0,50,United-States,<=50K.
32814,42,Federal-gov,177937,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,40,NaN,<=50K.
32827,61,NaN,195789,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,40,United-States,<=50K.
32829,21,NaN,65481,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,30,United-States,<=50K.
32835,53,NaN,237868,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,35,United-States,>50K.
32866,37,Local-gov,263690,Bachelors,13,Never-married,Prof-specialty,Unmarried,Black,Male,0,0,40,NaN,<=50K.
32877,20,NaN,318865,Some-college,10,Never-married,NaN,Not-in-family,White,Male,0,0,40,United-States,<=50K.
32890,64,Self-emp-not-inc,71807,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,50,NaN,>50K.
32892,20,NaN,303121,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,45,United-States,<=50K.
32911,45,NaN,319993,HS-grad,9,Widowed,NaN,Unmarried,White,Female,0,0,40,Mexico,<=50K.
32939,73,NaN,73402,Some-college,10,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,<=50K.
32955,41,NaN,155041,HS-grad,9,Never-married,NaN,Own-child,White,Female,3418,0,40,United-States,<=50K.
32958,63,NaN,156158,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,16,United-States,<=50K.
32964,27,Private,500068,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,36,NaN,<=50K.
32974,22,NaN,213291,Assoc-acdm,12,Never-married,NaN,Own-child,White,Male,0,0,25,United-States,<=50K.
32981,65,Private,88145,1st-4th,2,Married-civ-spouse,Handlers-cleaners,Husband,Other,Male,0,0,40,NaN,<=50K.
32990,23,NaN,192028,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,35,United-States,<=50K.
32995,19,NaN,50626,Some-college,10,Never-married,NaN,Own-child,Black,Female,0,0,20,United-States,<=50K.
32998,75,NaN,26586,10th,6,Married-spouse-absent,NaN,Not-in-family,White,Female,0,0,5,United-States,<=50K.
33031,19,NaN,47235,Some-college,10,Never-married,NaN,Own-child,White,Female,0,0,20,United-States,<=50K.
33032,28,State-gov,293628,Masters,14,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,10,NaN,<=50K.
33066,38,NaN,48976,HS-grad,9,Married-civ-spouse,NaN,Wife,White,Female,0,1887,10,United-States,>50K.
33076,63,Private,156120,5th-6th,3,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,50,NaN,<=50K.
33077,20,NaN,38455,HS-grad,9,Never-married,NaN,Unmarried,White,Male,0,0,40,United-States,<=50K.
33124,73,NaN,145748,HS-grad,9,Married-civ-spouse,NaN,Husband,White,Male,0,0,8,United-States,<=50K.
33165,43,NaN,180318,11th,7,Separated,NaN,Other-relative,White,Male,0,0,40,United-States,<=50K.
33173,18,NaN,39493,Some-college,10,Never-married,NaN,Own-child,White,Male,0,0,30,United-States,<=50K.
33187,64,NaN,192715,Bachelors,13,Married-civ-spouse,NaN,Husband,White,Male,0,1672,10,United-States,<=50K.
33198,71,NaN,113445,5th-6th,3,Married-civ-spouse,NaN,Husband,White,Male,0,0,10,United-States,<=50K.
33201,59,NaN,179078,HS-grad,9,Widowed,NaN,Unmarried,Black,Female,0,0,40,United-States,<=50K.
33202,30,NaN,126402,11th,7,Never-married,NaN,Unmarried,Black,Female,0,0,40,United-States,<=50K.

In [16]:
pd.set_option('display.max_rows',1000)

In [17]:
df_filtered = df[df["occupation"].isnull() & ((df["capital-gain"] != 0) | (df["capital-loss"] != 0))].head(1000)

# Display the result
df_filtered.count()

age               94
workclass          0
fnlwgt            94
education         94
education-num     94
marital-status    94
occupation         0
relationship      94
race              94
sex               94
capital-gain      94
capital-loss      94
hours-per-week    94
native-country    94
income            94
dtype: int64

In [18]:
df["Yearly_Income"] =

SyntaxError: invalid syntax (Temp/ipykernel_41332/3037455991.py, line 1)